/* Common CSS in here */

/* Biến css toàn cục */
:root {
    --primary_color: #ec3e2e;
    --white_color: #fff;
    --black_color: #000;
    --text_color: #756F6E;
    --border_color: #dbdbdb;

    --header_height: 120px;
    --navbar_height: 26px;
    --header_search_height: calc(var(--header_height) - var(--navbar_height));
    --height_header_sort_bar: 42px;
}

* {
    /* tất cả thẻ đều kế thừa box-sizing ở thẻ html */
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    /* để xử dụng 1rem bằng 10px */
    font-size: 62.5%;
    /* Xét chiều cao cho hàng chữ bằng 16px */
    line-height: 1.6rem;
    /* sans-serif chủng chữ không có chân, nếu Roboto không tải được thì dùng thèn ni */
    font-family: 'Roboto', sans-serif;
    /* Kích thước element tự giảm khi thêm padding, border */
    box-sizing: border-box;
}

/* -------------GRID System chuẩn bị cho responsive--------------*/

.grid__row {
    display: flex;
    flex-wrap: wrap;
    /* Bù lại phần padding hai cột ngoài cùng */
    margin-left: -5px;
    margin-right: -5px;
}

.grid_col_2 {
    padding-left: 5px;
    padding-right: 5px;
    /* % này tỉ là phần trăm tỉ lệ với kích thước của hàng có width lớn nhất */
    width: 16.6667%;
}
/* col_2 nằm trong col 10 nên % theo chiều ngang của col 10, nên muốn bằng kích thước của col_2 với chiều
ngang của hàng ngoài cùng phải tăng % lên */
.grid_col_2_in_col_10 {
    padding-left: 5px;
    padding-right: 5px;
    /* % này tỉ là phần trăm tỉ lệ với kích thước của hàng có width lớn nhất
    *100/83.334 */
    width: 20%;
}

/* Col 2.4 là column 12 chia làm 5 cột chớ không phải 6 - làm footer => width 1 cột 5 bằng 5/100 = 20% */
.grid_col_2_4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid_col_10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}


/* ----------ANIMATION--------------- */
/* Animation cho header_qr hiện từ từ */
@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}
/* Animation cho header thông báo hiện từ bé đến to mờ đến rõ */
@keyframes headerNotifyGrown {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes grown {
    from {
        transform: scale(var(--grown_from));
    }
    to {
        transform: scale(var(--grown_to));
    }
    
}

/* Modal Base Css */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: FadeIn linear 0.2s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* z-index: 1; */
}

.modal__body {
    margin: auto;
    /* Cùng để position như overlay cái nào viết sau thì nổi lên trên*/
    position: relative;
    /* Dùng z-index để đảm bảo nổi lên trên cùng */
    z-index: 2;

    /* animation */
    --grown_from: 0.5;
    --grown_to: 1;
    animation: grown linear 0.2s;
}


/* CSS btn */
.btn{
    min-width: 140px;
    height: 36px;
    line-height: 36px;
    /* Bỏ mặc định nếu có */
    padding: 0;
    text-decoration: none;
    outline: none;
    border-style: none;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    /* size chữ tr8pxong button */
    font-size: 1.5rem;
    text-align: center;
}

.btn.btn--hover:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
/* Yêu cầu thẻ đó phải có hai class mới ăn thuộc tính này */
.btn.btn--size-s{
    height: 30px;
    font-size: 1.2rem;
}
.btn.btn--primary{
    background-color: var(--primary_color);
    color: #fff;
}

.btn.btn--disable{
    cursor: default;
    background-color: #949494;
    color: #c3c3c3;
}

/* CSS Select input */

.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__label {
    font-size: 14px;
}

.select-input__icon {
    font-size: 14px;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 1px);
    border-radius: 2px;
    background-color: #fff;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input__list::before{
    content: "";
    height: 20px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -10%;
}

.select-input__item-link {
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    color: #000;
}

.select-input__item-link:hover {
    color: var(--primary_color);
}

/* Pagination CSS UI*/
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination__item {
    margin: 0 8px;
}

.pagination__item--active .pagination__item-link{
    background-color: var(--primary_color);
    color: var(--white_color);
}

.pagination__item--active .pagination__item-link:hover{
    filter: brightness(90%);
}

.pagination__item-link {
    display: block;
    font-size: 2rem;
    /* Sử dụng min-width để nếu có nhiều trang width thay đổi được */
    min-width: 40px;
    --height: 36px;
    height: var(--height);
    text-decoration: none;
    text-align: center;
    line-height: var(--height);
    color: var(--text_color);
}

.pagination__item-icon {
    font-size: 1.6rem;
}
