/* RESET CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    /* set font cho tất các các chữ trong web */
    font-family: Arial, Helvetica, sans-serif;
}
/* :root - lớp giả trong css */
:root {
    /* Biến global có thể xử dụng mọi selector trong file css này */
    --height_header: 45px;
}

.clear{
    /* Xử lí khi dùng float, item con nằm ngoài div cha */
    clear: both;
}

#main{

}
/* CSS header  */
#header{
    /* Thẻ div có chiều rộng kế thừa kích thước trình duyệt. */
    /* width: 100%; */
    height: var(--height_header);
    background-color: #000;
    /* Lấy chính header làm gốc tọa độ */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
     /* Khi thêm position vào slider ở sau khi kéo lên xuống(có margin), nó sẽ che mất phần position header ở trên
     (những element dùng position sẽ được nổi lên trên, đều có position viết sau sẽ nỗi lên)
      sử dụng thuộc tính z-index để hiển thị lên lại */
     z-index: 1;

}
/* CSS Navigation */
.nav{
    list-style-type: none;
}

.nav_item{
    /* Đẩy các phần tử  li từ list item dọc sang nằm ngang */
    display: inline-block;

}
/* Chọn tất cả thẻ a là nằm trong nav_item kể  cả a trong sub_nav đều ăn css này */
.nav_item a{
    /*  Tại sao thẻ a cần display=block?, nếu không có  diện tích thẻ a khi hover vào chỉ bằng phần padding*/
    display: inline-block;
    /* Padding trên dưới 0, trái phải 24px */
    padding: 0 24px;
    /* Canh chữ nằm giữ khối header */
    line-height: var(--height_header);
    /* bỏ dấu gạch chân dưới chữ ở thẻ a */
    text-decoration: none;
}

.nav_item > a{
    /* Set màu lại cho thẻ a và chuyển tất cả thành in hoa */
    color: #fff;
    text-transform: uppercase;
}

.nav_item:hover > a, .sub_nav_item:hover>a{
    color: #000;
    background-color: #ccc;
}

/* Sub Nav */
.nav_item:last-child{
    position: relative;
}
.sub_nav{
    position: absolute;
    /* 100% cách xuống dưới bằng đúng kích thước thẻ cha(li 45px) */
    top: 100%;
    left: 0%;
    background-color: #fff;
    /* Set chiều rộng cố  định cho box sub_nav */
    min-width: 160px;
    /* bỏ dấu chấm đầu items */
    list-style-type: none;
     /* bóng đổ  cho họp ul, box-shadow
    0 0: offet bằng 0, trải đều,
    blur: 10px độ mờ tới 10px */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}
/* Hover khối sub_nav */
.nav_item:last-child:hover .sub_nav{
    display: block;
}

.sub_nav_item>a{
      /*  Tại sao thẻ a cần display=block?, nếu không có  diện tích thẻ a khi hover vào chỉ bằng phần padding*/
    display: block;
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

/* Button Search */
.button_search{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 24px;
    
}
.button_search .icon_search{
    color: #fff;
    line-height: var(--height_header);
}
.button_search:hover{
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
}
/* End header 
+ Các thẻ a khi hover vào nên không bám hết qua thẻ li,
+ Button search phần bottom không bám hết xuống header, kể  cả các thẻ li(dùng line-height)
*/

/* SLIDER */
#slider{
    /* % units phụ thuộc vào thẻ cha chứa nó ?% thẻ main, khối bao bọc kể cả header */
    width: 100%;
    /* 100vh phụ thuộc vào chiều cao màn hình ?% */
    /* height: 100vh; */
    padding-top: 50%;
    /* Để import đúng thì gõ ../ để tìm gợi ý là chuẩn */
    /* vị trí center(giữa thẻ), kích thước cover(lấy hết kích thước thẻ không chấp nhận khoảng trắng) */
    background:  center  / cover no-repeat url(../img/slider/slider1.jpg);
    /* margin-top  một đoạn bằng header */
    margin-top: var(--height_header);
    position: relative;
}
/* Hiển thị chữ trên nền ảnh */
.text_img{
    color: #fff;
    position: absolute;
    /* Đẩy box text sang phải 50% chiều ngang slider */
    left: 50%;
    /* bottom: 20%; dùng padding trên dưới sẽ hợp lí hơn dùng con số 20% */ 
    bottom: 0;
    padding: 32px 32px ;
    /* Đẩy box sang trái 50% chính nó */
    transform: translateX(-50%);
    /* Đẩy chữ ra giữa không khối */
    text-align: center;
    /* Thêm cái bóng cho chữ ở image */
    text-shadow: 0 0 1px #000;
}
.heading_img{
    /* padding: 20px 0; dùng margin bottom sẽ oke hơn padding */
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
}
/* END SLIDER */

/* CONTENT*/
/* Phần heading , sub_heading chung */
.heading_content{
    text-align: center;
    margin: 10px 0px;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;

}
.sub_heading_content{
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
    font-weight: 50;
    font-size: 15px;

}
/* Dùng chung css  */
.padding_64_16{
    padding: 64px 16px;
}

#content{
    margin: 0 194px;
    
}

/* About the Band */

#content .about>p{
    /* căn chỉnh đoạn văn thẳng hàng ở đầu và cuối. */
    text-align: justify;
}
/* 3 image for the band : dùng display: flex + margin: auto */
.imgs_band{
    display: flex;
    padding: 32px 0;
}
.img_band_item{
    margin: auto;
    padding: 0px 8px;
}
.img_band_item>p{
    text-align: center;
    margin: 15px 0;
}
.img_band_item>img{
    width: 154px;
    border-radius: 4px;
}
/* End About the Band */
/* Tour */
.tour{
    background-color: #000;
    /* Chuyển màu chữ thành trắng */
    color: #fff;
}
.ticket_info{
    background-color: #fff;
    list-style-type: none;
    
}
.ticket_item{
    color: #757575;
    /* opacity: 0.6; */
    padding: 8px 16px;
    /* đường gạch biên dưới thẻ li */
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}
.status_ticket{
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 4px 8px;

}
.num_ticket{
    float: right;
    margin-right: 16px;
    padding:3px 8px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    /* Đẩy số 3 lên giữa */
    margin-top: -3px;
}

#content .ticket_place{
    padding: 32px 8px;
    /* display: flex; 
    margin: auto; */
    /* Dùng để căn chỉnh place_item hai bên đầu thẳng hàng với ở phần trên*/
    margin: 0 -16px;
}

#content .place_item{
    float: right;
    width: 33.33333%;
    padding: 0px 8px;
    color: #000;
    
    
}
#content .place_info{
    background-color: #fff;
    padding:15px 16px;
    /* padding:0 16px;   */
    display: block;
}

#content .place_item>img{
    width: 100%;
    display: block;
}
.place_position{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 15px;
}

.place_time{
    opacity: 0.6;
    margin: 15px 0px;
    font-size: 15px;
}

.place_description{
    margin-bottom: 15px;
    font-size: 15px;
}
.buy_tickets{
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: #000;
    color: #fff;
    border-style: none;
}
.buy_tickets:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/* CONTACT CSS */
/* Chung */
.width_50{
    width: 50%;
}
.contact_input input{
    padding: 8px;
}
.contact_info{
    position: relative;
    padding-top: 64px;
}
.contact_detail{
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 0;

}
.contact_input{
    position: absolute;
    left: 50%;
    top: 0;
}
.input_mail{
    position: absolute;
    left: 50%;
    top: 0;
}
.input_message{
    margin-top: 8px;
}
.contact .submit{
    float: right;
    bottom: 0;

}

#footer{
}
#footer .map{
    width: 100%;
}
#footer .footer_info{
    margin: 64px 0;
    text-align: center;
}
 #footer .footer_icon{
    padding: 16px 0;
 }
 #footer .footer_icon > a{
    text-decoration: none;
 }
 .facebook, .sky, .twitter{
    color: #2196F3;
}


