/* Common CSS in here */

/* Biến css toàn cục */
:root {
    --primary_color: #ec3e2e;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    /* sans-serif chủng chữ không có chân */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* GRID System */

.grid {
    /* giới hạn những màn hình kích thước > 1200px */
    width: 1200px;
    /* có tác dụng với màn hình < 1200px */
    max-width: 100%;
    /* Canh giữa khối có grid */
    margin: 0 auto;
}

.grid__full_width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}