* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
height: 100vh;
display: flex;
flex-direction: column;
font-family: "Helvetica Neue";
background-color: #f4f4f5;
}

body > div {
margin: auto;
}

/* Cho div bao toast đưa ra góc bên phải */
#toast {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 32px;
    /* Cho toast hiển  thị cao nhất. */
    z-index: 9999;
}

.toast {
display: flex;
align-items: center;
background-color: #fff;
border-radius: 2px;
padding: 20px 0;
min-width: 400px;
max-width: 450px;
border-left: 4px solid;
box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
/* slideInLeft ease .3s: đi vô từ từ (ease) trong 0.3s */
/* FadeOut linear .5s 3s forwards: kiểu linear , mờ đi(opacity về 0) trong 0.5s,  3s mới bắt đầu mờ,  
Khi chạy hết to, sẽ quay về from, thêm forwards dừng ở điểm cuối animation(opacity: 0)*/
/* animation: slideInLeft ease .3s, FadeOut linear .5s 3s forwards; */
}

/* Tạo animation cho toast */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));

    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}
@keyframes FadeOut {
    to {
        opacity: 0;
    }
    
}

.toast--success {
    border-color: #55cf72;
}
.toast--success .toast__icon {
    color: #55cf72;
}


.toast--info {
    border-color: #2f86eb;
  }
  
  .toast--info .toast__icon {
    color: #2f86eb;
  }
  
  .toast--warning {
    border-color: #ffc021;
  }
  
  .toast--warning .toast__icon {
    color: #ffc021;
  }
  
  .toast--error {
    border-color: #ff623d;
  }
  
  .toast--error .toast__icon {
    color: #ff623d;
  }
  
  .toast + .toast {
    margin-top: 24px;
  }


.toast__icon,
.toast__close {
    /*  dùng padding nút close dễ  bấm trúng hơn. */
padding: 0 16px;
}

.toast__body {
flex-grow: 1;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 8px;
    line-height: 1.6px;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }





/* Button  */

.btn {
    display: inline-block;
    /* bỏ gạch chân nếu dùng thẻ a */
    text-decoration: none;
    /* bỏ background , border. outline  mặc định nếu dùng button */
    background-color: transparent;
    border: none;
    outline: none;

    /* padding bo goc cho button */
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;


    cursor: pointer;
    min-width: 120px;
    /* tạo ra thay đổi hiệu ứng khi bấm */
    transition: opacity .2s ease;
    user-select: none;
  }

  /*  css cho btn đứng liền kề. */
  .btn + .btn {
    margin-left: 16px;
}

.btn--success {
    background-color: #71be34;
  }
  

.btn--danger {
    background-color: #ff623d;
  }